@use '../global/index' as g;

.p-loading {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #ebeefa;
    overflow: hidden;
    &__block {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 0;
        z-index: 1;
        @include g.media('>phone') {
            padding-top: 10.4%;
            width: g.get-vw(200);
        }
        @include g.media('<=phone') {
            padding-top: 26.67%;
            width: g.get-vw(200);
        }
        &-inner {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            &.is-active {
                border: solid 10px;
                border-image: linear-gradient(180deg, g.$color-dark-pastel-purple 50%, g.$color-mellow-apricot 50%);
                border-image-slice: 1;
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                width: calc(100% - 20px);
                height: calc(100% - 20px);
                background-color: #ebeefa;
                z-index: 4;
            }
        }
    }
    &__line {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        &--top {
            background: linear-gradient(0deg, g.$color-dark-pastel-purple 50%, transparent 50%);
            transform: rotate(0deg) scale(2);
            z-index: 1;
            // background: linear-gradient(0deg, transparent 50%, g.$color-dark-pastel-purple 50%);
            // transform: rotate(0deg) scale(2);
            // z-index: 1;
            // &.is-active {
            //     background: linear-gradient(0deg, #ebeefa 50%, transparent 50%);
            //     transform: rotate(0deg) scale(2);
            //     z-index: 3;
            // }
        }
        &--bottom {
            background: linear-gradient(0deg, #ebeefa 50%, transparent 50%);
            transform: rotate(0deg) scale(2);
            z-index: 3;
            &.is-active {
                background: linear-gradient(0deg, transparent 50%, g.$color-mellow-apricot 50%);
                transform: rotate(0deg) scale(2);
                z-index: 2;
            }
        }
    }
}
