@use '../global/index' as g;

.p-page {
    display: block;
    position: relative;
    width: 100%;
    opacity: 0;
    @include g.media('<=phone') {
        height: 100vh;
        overflow: hidden;
    }
    &__inner {
        @include g.media('<=phone') {
            display: flex;
            flex-flow: column;
            position: relative;
            // top: 0;
            // left: 0;
            // margin-bottom: 0.1px;
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            // overflow-y: auto;
            // height: 1000%;
        }
    }
    &__transition {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: transparent;
        z-index: -1;
        &-wrap {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include g.media('>phone') {
                padding-top: 100%;
                width: 100%;
                height: 0;
            }
            @include g.media('<=phone') {
                width: 100vh;
                height: 0;
            }
        }
        &-block {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            border-style: solid;
            // border-width: 10px;
            box-sizing: border-box;
            &--before {
                width: 100%;
                height: 100%;
                border-style: solid;
                @include g.media('>phone') {
                    border-width: 10px;
                    border-image: linear-gradient(180deg, #9a7ad1 50%, #f9b97c 50%);
                    border-image-slice: 1;
                }
                @include g.media('<=phone') {
                    border-width: 8px;
                    border-image: linear-gradient(180deg, g.$color-dark-pastel-purple 50%, g.$color-mellow-apricot 50%);
                    border-image-slice: 1;
                }
            }
            &--after {
                left: -10px;
                border-style: solid;
                @include g.media('>phone') {
                    width: calc(100% + 20px);
                    height: calc(100% + 20px);
                    border-width: 10px;
                    border-image: linear-gradient(180deg, g.$color-light-blue-gray 50%, g.$color-light-blue-gray 50%);
                    border-image-slice: 1;
                }
                @include g.media('<=phone') {
                    width: calc(100% + 16px);
                    height: calc(100% + 16px);
                    border-width: 10px;
                    border-image: linear-gradient(180deg, g.$color-light-blue-gray 50%, g.$color-light-blue-gray 50%);
                    border-image-slice: 1;
                }
            }
        }
        &-box {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 100vw;
            height: 100vh;
            background-color: #50a2f7;
            transform: scale(0);
        }
    }
    &__canvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1003;
        pointer-events: none !important;
        @include g.media('>phone') {
            border: solid 10px;
            border-image: linear-gradient(180deg, g.$color-dark-pastel-purple 50%, g.$color-mellow-apricot 50%);
            border-image-slice: 1;
        }
        @include g.media('<=phone') {
            border: solid 8px;
            border-image: linear-gradient(180deg, g.$color-dark-pastel-purple 50%, g.$color-mellow-apricot 50%);
            border-image-slice: 1;
        }
        &[data-title='mv'] {
            border-image: linear-gradient(180deg, g.$color-dark-pastel-purple 50%, g.$color-mellow-apricot 50%);
            border-image-slice: 1;
        }
        &[data-title='study'] {
            border-image: linear-gradient(180deg, g.$color-light-green 50%, g.$color-light-pink 50%);
            border-image-slice: 1;
        }
    }
    &__expansion {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: transparent;
        &-canvas {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: border 0s g.ease(OutSine) 0.8s;
            z-index: 1004;
        }
    }
    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        opacity: 0;
    }
}
// .address {
//     position: fixed;
//     bottom: 0;
//     width: 100%;
//     height: calc(100vh - 100%);
//     z-index: 100000;
//     background: rebeccapurple;
// }
