@use '../../../global/index' as g;

.p-index-study {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #c2f3c6;
    // background-color: #c2f3c6;
    // @include g.media('>phone') {
    //     padding: g.get_vw(300) 0 0;
    // }
    background-image: linear-gradient(0deg, transparent calc(100% - 1px), #9bf0a2 calc(100% - 1px)),
        linear-gradient(90deg, transparent calc(100% - 1px), #9bf0a2 calc(100% - 1px));
    background-position: top center;
    background-repeat: repeat;
    background-size: g.get_vw(50) g.get_vw(50);
    background-attachment: fixed;
    overflow: hidden;
    z-index: 1000;
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__wrap {
        position: relative;
        width: 100%;
        height: 100vh;
    }
    &__list {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 g.get_vw(600) 0 150vw;
        user-select: none;
    }
    &__image {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        visibility: hidden;
        &-wrap {
            position: relative;
            width: g.get_vw(400);
            max-width: 40vh;
            height: 30vh;
            transform: translate(0, -50%);
            overflow: hidden;
            &--image1 {
                top: 45vh;
                margin: 0 g.get_vw(100) 0 0;
            }
            &--image2 {
                top: 75vh;
                margin: 0 g.get_vw(100) 0 0;
            }
            &--image3 {
                top: 45vh;
            }
        }
    }
    &__canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // z-index: 1;
    }
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &-expansion {
        position: fixed;
        top: 50%;
        right: 0;
        width: g.get-vw(300);
        height: g.get-vw(300);
        z-index: -1;
        @include g.scroll-fadein-before(20px, -50%);
        &.is-active {
            @include g.scroll-fadein-after(0, -50%, 0s);
            z-index: 1002;
        }
        @include g.media('>phone') {
            margin: 0 g.get_per(100) 0 0;
        }
        @include g.media('<=phone') {
            margin: 0 g.get_per(100) 0 0;
        }
        &__inner {
            display: grid;
            width: 100%;
            height: 100%;
        }
        &__item {
            display: flex;
            position: relative;
            width: g.get-vw(300);
            height: g.get-vw(300);
            background-color: #ebab40;
            cursor: pointer;
        }
        // &__content {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     visibility: hidden;
        //     opacity: 0;
        //     // display: none;
        // }
        &__canvas {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: solid 10px;
            // border-image: linear-gradient(180deg, #043e6b, #578bb3);
            // border-image-slice: 1;
            transition: border-color 1s g.ease(OutSine);
        }
    }
}
