@use '../../../global/index' as g;

.p-index-study {
    background-color: #c2f3c6;
    // background-color: #c2f3c6;
    // @include g.media('>phone') {
    //     padding: g.get_vw(300) 0 0;
    // }
    background-image: linear-gradient(0deg, transparent calc(100% - 1px), #9bf0a2 calc(100% - 1px)),
        linear-gradient(90deg, transparent calc(100% - 1px), #9bf0a2 calc(100% - 1px));
    background-position: top center;
    background-repeat: repeat;
    background-size: g.get_vw(50) g.get_vw(50);
    background-attachment: fixed;
    overflow: hidden;
    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__wrap {
        position: relative;
        width: 100%;
        height: 100vh;
    }
    &__list {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 g.get_vw(100) 0 150vw;
        user-select: none;
    }
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        &-wrap {
            position: relative;
            padding-top: 22%;
            width: g.get_vw(400);
            transform: translate(0, -50%);
            overflow: hidden;
            &--image1 {
                top: 28vh;
            }
            &--image2 {
                top: 72vh;
            }
            &--image3 {
                top: 28vh;
            }
        }
    }
    &__canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
