@use 'sass:math';
@use "../../../global/index" as g;

/***********************
 *
 * Gift Guest
 *
 ***********************/
.p-gift-guest {
    overflow: hidden;
    @include g.media('>phone') {
        padding: g.get_per(100) 0 0;
    }
    @include g.media('<=phone') {
        padding: g.get_per(57) 0 0;
    }
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        height: 100%;
        background-size: contain;
        background-position: center top;
        background-repeat: no-repeat;
        transform: translate(-50%, 0);
        filter: blur(50px);
        transition: filter 0.3s ease(OutSine) 0.3s;
        @include g.media('>phone') {
            top: g.get_vw(108);
            width: g.get_per(1304);
            background-image: url(~@/assets/images/teaser/pc/gift1_bg.png);
        }
        @include g.media('<=phone') {
            top: g.get_vw(210);
            width: 100%;
            background-image: url(~@/assets/images/teaser/sp/gift1_bg.png);
        }
    }
    &.is-active::before {
        filter: blur(0);
    }
    &__inner {
        position: relative;
        margin: 0 auto;
        z-index: 1;
        @include g.media('>phone') {
            width: g.get_per(1000);
        }
        @include g.media('<=phone') {
            width: g.get_per(654);
        }
    }
    &__titles {
        display: flex;
        position: relative;
        @include g.media('<=phone') {
            flex-direction: column;
            align-items: center;
        }
        @include g.scroll-fadein-before();
        &.is-active {
            @include g.scroll-fadein-after();
        }
    }
    &__title {
        position: relative;
        @include g.media('>phone') {
            width: g.get_per(389, 1000);
        }
        @include g.media('<=phone') {
            width: g.get_per(498, 654);
        }
    }
    &__subtitle {
        @include g.media('>phone') {
            margin: auto 0 g.get_per(17, 1000) g.get_per(27, 1000);
            width: g.get_per(464, 1000);
        }
        @include g.media('<=phone') {
            margin: g.get_per(34, 654) 0 0;
            width: g.get_per(621, 654);
        }
    }
    &__list {
        display: flex;
        position: relative;
        @include g.media('>phone') {
            justify-content: center;
            margin: g.get_per(52, 1000) 0 0;
        }
        @include g.media('<=phone') {
            flex-wrap: wrap;
            justify-content: space-between;
            margin: g.get_per(82, 654) 0 0;
        }
    }
    &__item {
        position: relative;
        @include g.media('>phone') {
            width: g.get_per(246, 1000);
        }
        @include g.media('<=phone') {
            width: g.get_per(305, 654);
            &:nth-of-type(2) {
                top: g.get_vw(220);
            }
            &:nth-of-type(3) {
                margin: g.get_per(53, 654) 0 0;
            }
        }
        &:not(:first-child) {
            @include g.media('>phone') {
                margin: 0 0 0 g.get_per(30, 1000);
            }
        }
        @include g.scroll-fadein-before();
        .is-active & {
            @include g.scroll-fadein-after();
            @include g.iterateTransitionDelay(3, 0.28, 0.4);
        }
    }
    &__special {
        @include g.media('>phone') {
            margin: g.get_per(16, 1000) auto 0;
            width: g.get_per(667, 1000);
        }
        @include g.media('<=phone') {
            margin: g.get_per(25, 654) auto 0;
            width: 100%;
        }
        @include g.scroll-fadein-before();
        &.is-active {
            @include g.scroll-fadein-after();
        }
    }
}
