@use 'sass:math';
@use "../../../global/index" as g;

/***********************
 *
 * Gift Prize
 *
 ***********************/
.p-gift-prize {
    $parent: &;
    overflow: hidden;
    @include g.media('>phone') {
        padding: g.get_per(65) 0 g.get_per(100);
    }
    @include g.media('<=phone') {
        padding: g.get_per(106) 0 g.get_per(150);
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center top;
        background-repeat: no-repeat;
        filter: blur(30px);
        transition: filter 0.5s g.ease(OutSine) 0.5s;
        @include g.media('>phone') {
            top: g.get_vw(52);
            background-image: url(~@/assets/images/teaser/pc/gift2_bg.png);
        }
        @include g.media('<=phone') {
            top: g.get_vw(408);
            background-image: url(~@/assets/images/teaser/sp/gift2_bg.png);
        }
    }
    &.is-active::before {
        filter: blur(0);
    }
    &__inner {
        position: relative;
        margin: 0 auto;
        z-index: 1;
        @include g.media('>phone') {
            width: g.get_per(1000);
        }
        @include g.media('<=phone') {
            width: g.get_per(654);
        }
    }
    &__titles {
        display: flex;
        position: relative;
        @include g.media('<=phone') {
            flex-direction: column;
            align-items: center;
        }
        @include g.scroll-fadein-before();
        &.is-active {
            @include g.scroll-fadein-after();
        }
    }
    &__title {
        position: relative;
        @include g.media('>phone') {
            width: g.get_per(389, 1000);
        }
        @include g.media('<=phone') {
            width: g.get_per(528, 654);
        }
    }
    &__subtitle {
        @include g.media('>phone') {
            margin: auto 0 g.get_per(17, 1000) g.get_per(27, 1000);
            width: g.get_per(401, 1000);
        }
        @include g.media('<=phone') {
            margin: g.get_per(34, 654) 0 0;
            width: g.get_per(536, 654);
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        @include g.media('>phone') {
            justify-content: center;
            margin: g.get_per(84, 1000) 0 0;
        }
        @include g.media('<=phone') {
            justify-content: space-between;
            margin: g.get_per(100, 654) 0 0;
        }
    }
    &__item {
        position: relative;
        @include g.scroll-scale-before();
        @include g.media('>phone') {
            .is-active & {
                @include g.scroll-scale-after();
                @include g.iterateTransitionDelay(10, 0.08, 0.4);
            }
        }
        @include g.media('<=phone') {
            &.is-active {
                @include g.scroll-scale-after();
            }
        }
        &--prize1 {
            @include g.media('>phone') {
                width: g.get_per(164, 1000);
            }
            @include g.media('<=phone') {
                margin: g.get_per(63, 654) g.get_per(40, 654) 0 0;
                width: g.get_per(292, 654);
                order: 2;
            }
        }
        &--prize2 {
            @include g.media('>phone') {
                top: g.get_vw(72);
                width: g.get_per(114, 1000);
            }
            @include g.media('<=phone') {
                margin: g.get_per(270, 654) g.get_per(20, 654) 0 0;
                width: g.get_per(170, 654);
                order: 5;
            }
        }
        &--prize3 {
            @include g.media('>phone') {
                top: g.get_vw(-15);
                margin: 0 0 0 g.get_per(17, 1000);
                width: g.get_per(136, 1000);
            }
            @include g.media('<=phone') {
                top: g.get_vw(-90);
                margin: 0 0 0 g.get_per(27, 654);
                width: g.get_per(216, 654);
                order: 3;
            }
        }
        &--prize4 {
            @include g.media('>phone') {
                top: g.get_vw(18);
                width: g.get_per(104, 1000);
            }
            @include g.media('<=phone') {
                margin: g.get_per(-100, 654) g.get_per(10, 654) 0 0;
                width: g.get_per(190, 654);
                order: 8;
            }
        }
        &--prize5 {
            @include g.media('>phone') {
                top: g.get_vw(-24);
                left: g.get_per(-5, 1000);
                margin: 0 0 0 g.get_per(15, 1000);
                width: g.get_per(244, 1000);
            }
            @include g.media('<=phone') {
                width: g.get_per(428, 654);
                order: 9;
            }
        }
        &--prize6 {
            @include g.media('>phone') {
                top: g.get_vw(-60);
                left: g.get_per(32, 1000);
                width: g.get_per(251, 1000);
            }
            @include g.media('<=phone') {
                margin: g.get_per(-52, 654) 0 0;
                width: g.get_per(478, 654);
                order: 6;
            }
        }
        &--prize7 {
            @include g.media('>phone') {
                top: g.get_vw(-94);
                left: g.get_per(65, 1000);
                width: g.get_per(118, 1000);
            }
            @include g.media('<=phone') {
                left: g.get_per(-30, 654);
                margin: g.get_per(130, 654) 0 0 0;
                width: g.get_per(220, 654);
                order: 10;
            }
        }
        &--prize8 {
            @include g.media('>phone') {
                top: g.get_vw(24);
                left: g.get_per(38, 1000);
                width: g.get_per(202, 1000);
            }
            @include g.media('<=phone') {
                margin: g.get_per(15, 654) 0 0 g.get_per(38, 654);
                width: g.get_per(355, 654);
                order: 7;
            }
        }
        &--prize9 {
            @include g.media('>phone') {
                top: g.get_vw(-68);
                left: g.get_per(24, 1000);
                width: g.get_per(98, 1000);
            }
            @include g.media('<=phone') {
                width: g.get_per(201, 654);
                order: 1;
            }
        }
        &--prize10 {
            @include g.media('>phone') {
                top: g.get_vw(-34);
                left: g.get_per(-40, 1000);
                width: g.get_per(200, 1000);
            }
            @include g.media('<=phone') {
                position: absolute;
                top: g.get_vw(450);
                left: g.get_per(62, 654);
                width: g.get_per(375, 654);
                order: 4;
            }
        }
    }
    &__entry {
        position: relative;
        @include g.before-scale-down();
        @include g.hover-only() {
            @include g.after-scale-down();
        }
    }
    &__entry-link {
        display: block;
        position: relative;
        @include g.scroll-fadein-before();
        &.is-active {
            @include g.scroll-fadein-after();
        }
        @include g.media('>phone') {
            margin: g.get_per(50, 1000) auto 0;
            width: g.get_per(605, 1000);
        }
        @include g.media('<=phone') {
            margin: g.get_per(105, 654) auto 0;
            width: g.get_per(635, 654);
        }
    }
}
