@use 'sass:math';
@use "../../../global/index" as g;

/***********************
 *
 * mv
 *
 ***********************/
.p-mv {
    @include g.media('>phone') {
        padding: g.get_per(48) 0 g.get_per(212);
    }
    @include g.media('<=phone') {
        padding: g.get_per(30) 0 g.get_per(438);
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        filter: brightness(0.4);
        transition: filter 1s g.ease(linear) 0.3s;
        @include g.media('>phone') {
            background-image: url(~@/assets/images/teaser/pc/bg.png);
        }
        @include g.media('<=phone') {
            background-image: url(~@/assets/images/teaser/sp/bg.png);
        }
    }
    &.is-active::before {
        filter: brightness(1);
    }
    &__sub-title {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 2;
        @include g.media('>phone') {
            top: g.get_vw(154);
            width: g.get_per(586);
        }
        @include g.media('<=phone') {
            top: g.get_vw(68);
            width: g.get_per(498);
        }
        @include g.scroll-fadein-before(-50%, 15px);
        &.is-active {
            @include g.scroll-fadein-after(-50%, 0, 0.3s);
        }
    }
    &__title {
        position: relative;
        margin: 0 auto;
        z-index: 1;
        @include g.media('>phone') {
            width: g.get_per(1075);
        }
        @include g.media('<=phone') {
            width: g.get_per(705);
        }
        @include g.scroll-scale-before();
        &.is-active {
            @include g.scroll-scale-after(0.8s);
        }
    }
    &__entry {
        position: relative;
        @include g.before-scale-down();
        @include g.hover-only() {
            @include g.after-scale-down();
        }
    }
    &__entry-link {
        display: block;
        position: absolute;
        z-index: 2;
        @include g.media('>phone') {
            top: 50%;
            right: g.get_per(50);
            width: g.get_per(237);
            @include g.scroll-fadein-before();
            &.is-active {
                @include g.scroll-fadein-after(0, 0, 1.8s);
            }
        }
        @include g.media('<=phone') {
            top: 62%;
            left: 50%;
            width: g.get_per(237);
            transform: translate(-50%, 0);
            @include g.scroll-fadein-before(-50%, 15px);
            &.is-active {
                @include g.scroll-fadein-after(-50%, 0, 1.8s);
            }
        }
    }
}
