@use "../../../global/index" as g;

/***********************
 *
 * 管理画面　時間変更
 *
 ***********************/
.p-manage-change {
    $parent: &;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    z-index: 2;
    @include g.media('>phone') {
        padding: g.get_per(150) 0 0;
        width: g.get_per(1000);
    }
    @include g.media('<=phone') {
        padding: g.get_per(150) 0 0;
        width: g.get_per(650);
    }
    &__title {
        position: relative;
        margin: 0 auto;
        color: g.$color-white;
        line-height: 1;
        text-align: center;
        @include g.font-size(3.2rem, 3.2rem);
    }
    &__list {
        display: flex;
        justify-content: space-between;
        @include g.media('>phone') {
            margin: g.get_per(80) 0 0;
            width: 100%;
        }
        @include g.media('<=phone') {
            margin: g.get_per(80) 0 0;
            width: 100%;
        }
    }
    &__form-item {
        width: 100%;
        margin: g.get_per(30, 360) 0 0;
    }
    &__head {
        display: flex;
        align-items: center;
    }
    &__head-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: g.$color-warm-grey;
        border: solid 2px g.$color-white;
        @include g.media('>phone') {
            margin: 0 0 0 g.get_per(30, 360);
            padding: g.get_per(10, 360) 0;
            width: g.get_per(150, 360);
            border-radius: 1rem;
        }
        @include g.media('<=phone') {
            margin: g.get_per(61, 650) auto 0;
            padding: g.get_per(20, 650) 0;
            width: g.get_per(200, 650);
            border-radius: 2rem;
        }
        @include g.before-scale-down();
        @include g.hover-only() {
            @include g.after-scale-down();
        }
    }
    &__head-button-text {
        display: inline-block;
        color: g.$color-white;
        line-height: 1;
        font-weight: bold;
        @include g.font-size(1.8rem, 1.8rem);
    }
    &__form {
        width: 45%;
    }
    &__contents {
        width: 100%;
    }
    &__input-label {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: g.get_per(20, 360) 0 0;
        width: 100%;
    }
    &__input {
        display: flex;
        justify-content: center;
        border: solid 1px g.$color-white;
        background-color: g.$color-black;
        color: g.$color-warm-grey;
        text-align: left;
        @include g.font-size(1.8rem, 1.8rem);
        @include g.media('>phone') {
            padding: g.get_per(5, 360);
            width: g.get_per(250, 360);
        }
        @include g.media('<=phone') {
            padding: g.get_per(5, 650) 0;
            width: g.get_per(180, 650);
            line-height: 0.86;
        }
    }
    &__form-title {
        color: g.$color-white;
        line-height: 1;
        font-weight: 500;
        text-align: center;
        @include g.font-size(2.5rem, 2.5rem);
    }
    &__item-title {
        color: g.$color-white;
        line-height: 1;
        font-weight: 500;
        text-align: left;
        @include g.font-size(2rem, 2rem);
    }
    &__input-title {
        color: g.$color-white;
        line-height: 1;
        @include g.font-size(2rem, 2rem);
        margin: 0 g.get_per(20, 800) 0 0;
    }
    &__input-text {
        color: g.$color-white;
        line-height: 1;
        @include g.font-size(1.3rem, 2.4rem);
        @include g.media('>phone') {
            margin: g.get_per(16, 360) 0 0;
        }
        @include g.media('<=phone') {
            margin: g.get_per(27, 650) 0 0;
        }
    }
    &__button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: g.$color-two;
        border: solid 2px g.$color-white;
        @include g.media('>phone') {
            margin: g.get_per(30, 360) auto 0;
            padding: g.get_per(10, 360) 0;
            width: g.get_per(150, 360);
            border-radius: 1rem;
        }
        @include g.media('<=phone') {
            margin: g.get_per(61, 650) auto 0;
            padding: g.get_per(20, 650) 0;
            width: g.get_per(200, 650);
            border-radius: 2rem;
        }
        @include g.before-scale-down();
        @include g.hover-only() {
            @include g.after-scale-down();
        }
    }
    &__button-text {
        display: inline-block;
        color: g.$color-white;
        line-height: 1;
        font-weight: bold;
        @include g.font-size(1.8rem, 1.8rem);
    }
    &__message {
        color: g.$color-white;
        line-height: 1;
        font-weight: bold;
        @include g.font-size(1.6rem, 1.6rem);
        @include g.media('>phone') {
            margin: g.get_per(16, 800) 0 0;
        }
        @include g.media('<=phone') {
            margin: g.get_per(16, 800) 0 0;
        }
    }
}
