@use '../../../global/index' as g;

/***********************
 *
 * 管理画面　CSVダウンロード
 *
 ***********************/
.p-manage-download {
    $parent: &;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    z-index: 2;
    @include g.media('>phone') {
        padding: g.get_per(150) 0 0;
        width: g.get_per(1000);
    }
    @include g.media('<=phone') {
        padding: g.get_per(150) 0 0;
        width: g.get_per(650);
    }
    &__title {
        position: relative;
        margin: 0 auto;
        color: g.$color-white;
        line-height: 1;
        text-align: center;
        @include g.font-size(3.2rem, 3.2rem);
    }
    &__list {
        display: flex;
        justify-content: space-between;
        @include g.media('>phone') {
            margin: g.get_per(80) 0 0;
            width: 100%;
        }
        @include g.media('<=phone') {
            margin: g.get_per(80) 0 0;
            width: 100%;
        }
    }
    &__button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        background-color: g.$color-white;
        border-radius: 1rem;
        height: 100%;
        cursor: pointer;
        @include g.media('>phone') {
            padding: g.strip_lh(30, 1.8rem, 1.33, 1000) 0;
            width: 30%;
        }
        @include g.media('<=phone') {
            padding: g.strip_lh(30, 3.45rem, 1.33, 650) 0;
            width: 100%;
            min-height: g.get_vw(140);
        }
        @include g.before-scale-down();
        @include g.hover-only() {
            @include g.after-scale-down();
        }
    }
    &__button-text {
        display: inline-block;
        color: g.$color-deep-red;
        line-height: 1.33;
        font-weight: bold;
        text-align: center;
        @include g.font-size(1.8rem, 3.45rem);
    }
    &__schedule {
        display: block;
        color: g.$color-white;
        line-height: 1;
        text-align: center;
        @include g.font-size(1.4rem, 1.4rem);
        @include g.media('>phone') {
            margin: g.get_per(14, 220) 0 0;
        }
        @include g.media('<=phone') {
            margin: g.get_per(14, 220) 0 0;
        }
    }
    &__message {
        color: g.$color-white;
        line-height: 1;
        font-weight: bold;
        text-align: center;
        @include g.font-size(1.6rem, 1.6rem);
        @include g.media('>phone') {
            margin: g.get_per(16, 800) 0 0;
        }
        @include g.media('<=phone') {
            margin: g.get_per(16, 650) 0 0;
        }
    }
}
