@use "../../../global/index" as g;

/***********************
 *
 * 管理画面　結果発表
 *
 ***********************/
.p-manage-result {
    $parent: &;
    position: relative;
    margin: 0 auto;
    z-index: 2;
    @include g.media('>phone') {
        padding: g.get_per(80) 0 0;
        width: g.get_per(1000);
    }
    @include g.media('<=phone') {
        padding: g.get_per(65) 0 0;
        width: g.get_per(650);
    }
    &__title {
        position: relative;
        margin: 0 auto;
        @include g.media('>phone') {
            width: g.get_per(614, 1000);
        }
        @include g.media('<=phone') {
            width: g.get_per(650);
        } 
    }
    &__list {
        display: flex;
        border-bottom: 1px solid g.$color-white;
        @include g.media('>phone') {
            justify-content: space-between;
            width: 100%;
        }
        @include g.media('<=phone') {
            flex-direction: column;
            width: 100%;
        }
        &:first-of-type {
            @include g.media('>phone') {
                padding: g.strip_lh(60, 2.1rem, 1.71, 1000) 0 g.strip_lh(30, 2.1rem, 1.71, 1000);
            }
            @include g.media('<=phone') {
                padding: g.strip_lh(60, 2.1rem, 1.71, 650) 0 g.strip_lh(30, 2.1rem, 1.71, 650);
            }
        }
        &:not(:first-of-type) {
            @include g.media('>phone') {
                padding: g.strip_lh(30, 2.1rem, 1.71, 1000) 0;
            }
            @include g.media('<=phone') {
                padding: g.strip_lh(30, 2.1rem, 1.71, 650) 0;
            }
        }
    }
    &__item {
        &--gift {
            white-space: nowrap;
            @include g.media('>phone') {
                width: g.get_per(377, 1000);
            }
            @include g.media('<=phone') {
                width: 100%;
            }
        }
        &--winner {
            display: flex;
            @include g.media('>phone') {
                width: g.get_per(540, 1000);
            }
            @include g.media('<=phone') {
                margin: g.strip_lh(15, 2.1rem, 1.71, 650) 0 0;
                width: 100%;
            }
        }   
    }
    &__gift-name {
        color: g.$color-white;
        line-height: 1.71;
        font-weight: bold;
        @include g.font-size(2.1rem, 2.1rem);
    }
    &__winner {
        color: g.$color-white;
        line-height: 1.71;
        @include g.font-size(2.1rem, 2.1rem);
        &:not(:first-of-type) {
            @include g.media('>phone') {
                padding: 0 0 0 g.get_per(60, 540);
            }
            @include g.media('<=phone') {
                padding: 0 0 0 g.get_per(60, 540);
            }
        }
    }
}
