@use '../../global/index' as g;

.p-index-balloon {
    position: fixed;
    @include g.scroll-fade-in-before;
    &.is-active {
        @include g.scroll-fade-in-after(0, 0, 0.8s);
        z-index: 1000;
        // animation: move 40s g.ease(OutSine) 0s infinite forwards;
    }
    &--orange {
        top: 100vh;
        left: g.get_vw(-200);
        &.is-active {
            animation: move 40s g.ease(linear) 0s infinite alternate;
        }
    }
    &--purple {
        top: g.get_vw(-200);
        right: g.get_vw(-200);
        &.is-active {
            @include g.scroll-fade-in-after(0, 0, 0.8s);
            animation: move-to-left 40s g.ease(linear) 0s infinite alternate;
        }
    }
    $size: g.get_vw(-200);
    @keyframes move {
        0% {
            top: 100vh;
            left: g.get_vw(-200);
            transform: translate(0, 0);
        }
        100% {
            top: g.get_vw(-200);
            left: 100%;
            transform: translate(0, 0);
        }
    }
    @keyframes move-to-left {
        0% {
            top: g.get_vw(-200);
            right: g.get_vw(-200);
            transform: translate(0, 0);
        }
        100% {
            top: 100vh;
            right: 100%;
            transform: translate(0, 0);
        }
    }
    @include g.media('>phone') {
        width: g.get_vw(300);
        height: g.get_vw(300);
    }
    @include g.media('<=phone') {
        width: 25rem;
        height: 25rem;
    }
    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1001;
        // background-color: g.$color-white;
    }
    &__canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        animation: bounce 3s g.ease(OutSine) 0s infinite;
        @keyframes bounce {
            0% {
                transform: translateY(0);
            }
            25% {
                transform: translateY(-10px);
            }
            50% {
                transform: translateY(0);
            }
            75% {
                transform: translateY(-10px);
            }
            100% {
                transform: translateY(0);
            }
        }
    }
    & canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    a {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        cursor: none;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
