@use '../../global/index' as g;

/***********************
 *
 * parts contact
 *
 ***********************/
.p-contact {
    position: relative;
    width: 100%;
    @include g.media('>phone') {
        margin: 0 g.get_per(100) 0 0;
    }
    @include g.media('<=phone') {
        margin: 0 g.get_per(100) 0 0;
    }
    &__inner {
        display: grid;
        width: 100%;
        height: 100%;
    }
    &__item {
        display: flex;
        position: relative;
        width: 400px;
        height: 400px;
        background-color: #ebab40;
        cursor: pointer;
    }
    &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        // display: none;
    }
    &__post {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: solid 0px;
        // transition: border 0.3s g.ease(linear);
        &[data-title='contact'] {
            border: solid 10px;
            border-image: linear-gradient(180deg, #facb04 50%, #7caed4 50%);
            border-image-slice: 1;
        }
    }
}
