@use '../../global/index' as g;

/***********************
 *
 * parts contact
 *
 ***********************/
.p-index-contact {
    $parent: &;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    @include g.media('>phone') {
        margin: 0 g.get_per(100) 0 0;
    }
    @include g.media('<=phone') {
        margin: 0 g.get_per(100) 0 0;
    }
    &__title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: solid 0px;
        border-image: linear-gradient(180deg, #facb04 50%, #7caed4 50%);
        border-image-slice: 1;
        opacity: 0;
        transition: border 0.3s g.ease(linear) 0s;
        z-index: 1003;
        #{$parent}.is-active & {
            border: solid 10px;
            border-image: linear-gradient(180deg, #facb04 50%, #7caed4 50%);
            border-image-slice: 1;
        }
    }
    &__inner {
        display: grid;
        width: 100%;
        height: 100%;
    }
    &__item {
        display: flex;
        position: relative;
        width: 400px;
        height: 400px;
        background-color: #f9f5ce;
        cursor: pointer;
    }
    &__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        // display: none;
    }
    &__post {
        $post: &;
        position: fixed;
        left: 50%;
        height: 0;
        transform: translate(-50%, -50%);
        z-index: 10000;
        // background-color: #7cadd3;
        @include g.media('>phone') {
            top: 60%;
            height: calc(100vw * 0.6 * 0.67);
            max-height: calc(100vh * 0.6 * 1.5 * 0.67);
            width: 60%;
            max-width: calc(100vh * 0.6 * 1.5);
        }
        @include g.media('<=phone') {
            top: 50%;
            padding-top: 60%;
            width: 100%;
        }
        @include g.hover-only {
            #{$post}-canvas {
                filter: drop-shadow(0px 2px 10px rgb(0 0 0/ 50%));
            }
        }
        &-canvas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scale(0);
            transition: transform 1s g.ease(OutSine), filter 0.3s g.ease(OutSine);
            will-change: transform;
            &.is-active {
                transition-delay: 0s;
                transform: scale(1);
                animation: floating 6s g.ease(linear) 0s alternate infinite;

                @keyframes floating {
                    0% {
                        top: 0;
                    }
                    50% {
                        top: 20px;
                    }
                    100% {
                        top: 0;
                    }
                }
            }
        }
    }
    &__close {
        $close: &;
        width: g.get-vw(50);
        height: g.get-vw(50);
        // background-color: #7cadd3;
        position: absolute;
        top: g.get-vw(70);
        right: g.get-vw(80);
        opacity: 0;
        z-index: 1005;
        transition: opacity 0.75s g.ease(OutSine) 0.3s;
        @include g.hover-only {
            &::after {
                background-color: rgb(249 203 4 / 50%);
            }
        }
        &.is-open {
            opacity: 1;
            span {
                transition: all 0.75s g.ease(OutSine) 0.8s;
                &:nth-of-type(1) {
                    transform: translateY(g.get-vw(22.5)) rotate(-45deg);
                }
                &:nth-of-type(2) {
                    left: 60%;
                    opacity: 0;
                    animation: height 0.8s forwards;
                }
                &:nth-of-type(3) {
                    transform: translateY(g.get-vw(-22.5)) rotate(45deg);
                }
                @keyframes height {
                    100% {
                        height: 0;
                    }
                }
            }
            &::after {
                animation: draw-circle 1s 1s forwards;
            }
            @keyframes draw-circle {
                0% {
                    border-color: transparent;
                    transform: rotate(0);
                }
                25% {
                    border-color: transparent #7cadd3 transparent transparent;
                    // transform: rotate(-45);
                }
                50% {
                    border-color: #7cadd3 #7cadd3 transparent transparent;
                    // transform: rotate(-135);
                }
                70% {
                    border-color: #7cadd3 #7cadd3 transparent #7cadd3;
                    // transform: rotate(-315);
                }
                100% {
                    border-color: #7cadd3;
                    transform: rotate(-860deg);
                }
            }
        }
        cursor: pointer;
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: g.get-vw(-30);
            left: g.get-vw(-30);
            width: g.get-vw(110);
            height: g.get-vw(110);
            border: solid g.get-vw(5) transparent;
            border-radius: 50%;
            // will-change: transform;
            transition: all 0.75s;
        }
        span {
            position: absolute;
            left: 0;
            width: 100%;
            height: g.get-vw(5);
            background-color: #7cadd3;
            border-radius: g.get-vw(10);
            transition: all 0.6s g.ease(OutSine);
            z-index: 102;
            &:nth-of-type(1) {
                top: 0;
                #{$close}.is-open & {
                    transform: translateY(g.get-vw(26.5)) rotate(-45deg);
                }
            }
            &:nth-of-type(2) {
                top: g.get-vw(22.5);
            }
            &:nth-of-type(3) {
                bottom: 0;
                #{$close}.is-open & {
                    transform: translateY(g.get-vw(-26.5)) rotate(45deg);
                }
            }
        }
    }
    &__following {
        display: inline-block;
        position: fixed;
        top: 0;
        left: 0;
        width: 120px;
        // height: 319px;
        // transition: transform 0.2s g.ease(OutSine);
        will-change: transform;
        transform: scale(0);
        visibility: hidden;
        z-index: 1005;
        cursor: none !important;
        pointer-events: none !important;
        & p {
            padding: 1rem;
            background-color: rgb(124 174 212 / 26%);
            border: solid 3px #facb04;
            color: #7caed4;
            font-family: 'Gill Sans', 'Segoe UI', sans-serif;
            font-weight: bold;
        }
    }
    &__cloud {
        position: absolute;
        left: 0;
        transform: translate(-100%, -50%);
        transition: filter 1s g.ease(OutSine) 0.3s, opacity 0.3s g.ease(OutSine) 0.3s;
        filter: blur(30px);
        opacity: 0;
        &.is-open {
            filter: blur(0);
            opacity: 1;
        }
        &--cloud1 {
            top: 15%;
            width: g.get-per(700);
            &.is-open {
                animation: drift 50s g.ease(linear) 0s infinite;
            }
        }
        &--cloud2 {
            top: 40%;
            width: g.get-per(900);
            &.is-open {
                animation: drift 50s -20s g.ease(linear) infinite;
            }
        }
        &--cloud3 {
            top: 60%;
            width: g.get-per(700);
            &.is-open {
                animation: drift 50s -5s g.ease(linear) infinite;
            }
        }
        &--cloud4 {
            top: 30%;
            width: g.get-per(500);
            &.is-open {
                animation: drift 50s -30s g.ease(linear) infinite;
            }
        }
        &--cloud5 {
            top: 80%;
            width: g.get-per(800);
            &.is-open {
                animation: drift 50s -10s g.ease(linear) infinite;
            }
        }
        @keyframes drift {
            0% {
                transform: translate(-100%, -50%);
                left: 0;
            }
            100% {
                transform: translate(100%, -50%);
                left: 100%;
            }
        }
    }
}

// #facb04 50%, #7caed4 50%);
