@use '../../global/index' as g;

.p-about-house {
    position: fixed;
    top: g.get_vw(30);
    right: g.get_vw(50);
    @include g.scroll-fade-in-before;
    &.is-active {
        @include g.scroll-fade-in-after(0, 0, 0.8s);
        z-index: 1001;
    }
    // &.is-hover {
    //     &::before {
    //         content: '';
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         right: 0;
    //         bottom: 0;
    //         width: 30%;
    //         height: 30%;
    //         border-top: 2px solid #000000;
    //         border-left: 2px solid #000000;
    //     }
    //     &::after {
    //         content: '';
    //         position: absolute;
    //         right: 0;
    //         bottom: 0;
    //         width: 30%;
    //         height: 30%;
    //         border-right: 2px solid #000000;
    //         border-bottom: 2px solid #000000;
    //     }
    // }
    @include g.hover-only {
        animation: bound 1s g.ease(OutSine);
        @keyframes bound {
            0% {
                transform: translateY(0);
            }
            25% {
                transform: translateY(-10px);
            }
            50% {
                transform: translateY(0);
            }
            75% {
                transform: translateY(-10px);
            }
            100% {
                transform: translateY(0);
            }
        }
    }
    @include g.media('>phone') {
        width: g.get_vw(200);
        height: g.get_vw(200);
    }
    @include g.media('<=phone') {
        width: g.get_vw(150);
        height: g.get_vw(150);
    }
    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1001;
        // background-color: g.$color-white;
    }
    &__canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    & canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    a {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        cursor: none;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
