@use '../../global/index' as g;

/***********************
 *
 * Login
 *
 ***********************/
.p-login {
    $parent: &;
    position: relative;
    z-index: 2;
    @include g.media('>tablet') {
        margin: g.get_per(119) auto 0;
        width: g.get_per(800);
    }
    @include g.media('<=tablet', '>phone') {
        margin: g.get_per(119) auto 0;
        width: 90%;
        max-width: 800px;
    }
    @include g.media('<=phone') {
        margin: g.get_per(50) auto 0;
        width: g.get_per(650);
    }
    &__inner {
        @include g.media('<=phone') {
            padding: g.get_per(57, 650) g.get_per(40, 650) g.get_per(94, 650);
            width: 100%;
            background-color: g.$color-black;
        }
    }
    &__text {
        color: g.$color-white;
        @include g.line-height(1, 1.75);
        @include g.font-size(1.8rem, 3rem);
    }
    &__note {
        color: g.$color-white;
        @include g.line-height(1.75, 1.75);
        @include g.font-size(1.4rem, 2.2rem);
        @include g.media('>phone') {
            margin: g.get_per(24, 800) 0 0;
        }
        @include g.media('<=phone') {
            margin: g.get_per(40, 650) 0 0;
        }
    }
    &__env {
        color: g.$color-white;
        @include g.line-height(1.75, 1.75);
        @include g.font-size(1.4rem, 2.2rem);
        @include g.media('>phone') {
            margin: g.get_per(45, 800) 0 0;
        }
        @include g.media('<=phone') {
            margin: g.get_per(79, 650) 0 0;
        }
    }
    &__input-label {
        display: flex;
        @include g.media('>phone') {
            align-items: center;
            justify-content: space-between;
            margin: g.get_per(45, 800) 0 0;
        }
        @include g.media('<=phone') {
            flex-direction: column;
            margin: g.get_per(79, 650) 0 0;
        }
    }
    &__input-title {
        color: g.$color-white;
        line-height: 1;
        @include g.font-size(1.8rem, 3.4rem);
    }
    &__input {
        border: solid 1px g.$color-white;
        color: g.$color-white;
        line-height: 1;
        // @include g.font-size(1.6rem, 3rem);
        @include g.media('>phone') {
            padding: g.get_per(16) g.get_per(17);
            width: g.get_per(666, 800);
            font-size: 1.6rem;
        }
        @include g.media('<=phone') {
            margin: g.get_per(27, 650) 0 0;
            padding: g.get_per(23) g.get_per(17);
            width: 100%;
            font-size: 16px;
        }
    }
    &__button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: g.$color-white;
        border-radius: 1rem;
        @include g.media('>phone') {
            margin: g.get_per(73, 800) auto 0;
            padding: g.get_per(20, 800) 0;
            width: g.get_per(224, 800);
        }
        @include g.media('<=phone') {
            margin: g.get_per(78, 650) auto 0;
            padding: g.get_per(20, 650) 0;
            width: g.get_per(300, 650);
        }
        @include g.before-scale-down();
        @include g.hover-only() {
            @include g.after-scale-down();
        }
    }
    &__button-text {
        display: inline-block;
        color: g.$color-deep-red;
        line-height: 1;
        font-weight: bold;
        @include g.font-size(2.1rem, 3.8rem);
    }
    &__message {
        color: g.$color-white;
        line-height: 1;
        font-weight: bold;
        text-align: center;
        @include g.font-size(1.6rem, 1.6rem);
        @include g.media('>phone') {
            margin: g.get_per(16, 800) 0 0;
        }
        @include g.media('<=phone') {
            margin: g.get_per(16, 650) 0 0;
        }
    }
}
