@use '../../global/index' as g;

.p-mv {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c2cbf3;
    overflow: hidden;
    @include g.media('>phone') {
        padding: 0 0 g.get_per(300);
    }
    @include g.media('<=phone') {
        padding: 0 0 g.get_per(300);
    }
    &__title {
        display: block;
        position: absolute;
        top: 0;
        z-index: 10;
        // @include g.media('>phone') {
        //     margin: 0 auto;
        //     width: g.get_per(800);
        // }
        // @include g.media('<=phone') {
        //     margin: 0 auto;
        //     width: g.get_per(650);
        // }
    }
    &__bg {
        position: relative;
        width: 100%;
        height: 100%;
        // overflow: hidden;
        &-horizontal {
            position: relative;
            height: 50vh;
            overflow: hidden;
        }
        &-line {
            position: relative;
            width: 200vw;
            height: 50vh;
            &--top {
                background: linear-gradient(0deg, #d4daf5, #d4daf5);
            }
            &--bottom {
                background: linear-gradient(180deg, #d4daf5, #d4daf5);
            }
        }
        &-anim {
            display: flex;
            position: relative;
            height: 50vh;
            float: left;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 200%;
            opacity: 0.6;
            background-image: url(~@/assets/images/pc/bg.png);
            background-position: center center;
            background-repeat: repeat repeat;
            background-size: g.get_vw(20);
            z-index: -1;
        }
    }
    &__canvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 1000;
        &.is-active {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    &__text {
        position: relative;
        width: 100%;
        height: 50vw;
    }
    .pin-spacer {
        height: 50vh;
    }
}
