@use "../../../global/index" as g;

.p-page {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, g.$color-dark-brown, g.$color-mahogany, g.$color-dark-brown);
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center top;
        background-repeat: no-repeat;
        @include g.media('>phone') {
            background-size: 100% auto;
            background-image: url(~@/assets/images/contents/common/pc/bg.png);
        }
        @include g.media('<=phone') {
            background-size: 100% auto;
            background-image: url(~@/assets/images/contents/common/sp/bg.png);
        }
    }
}