@use "../../../global/index" as g;

.c-title {
    position: relative;
    @include g.media('>phone') {
        margin: g.get_per(45) auto 0;
        width: g.get_per(739);
    }
    @include g.media('<=phone') {
        margin: g.get_per(64) auto 0;
        width: g.get_per(597);
    }
}
