@use "../../../global/index" as g;

/***********************
 *
 * パーセントチャレンジ
 *
 ***********************/
.p-percent-question {
    &__wrap {
        $parent: &;
        position: relative;
        margin: 0 auto;
        z-index: 2;
        @include g.media('>phone') {
            padding: g.get_per(33) 0 0;
            width: g.get_per(800);
        }
        @include g.media('<=phone') {
            padding: g.get_per(77) 0 0;
            width: g.get_per(650);
        }
    }
    &__title {
        color: g.$color-white;
        line-height: 1;
        font-weight: bold;
        text-align: center;
        @include g.font-size(3rem, 6rem);
    }
    &__image {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: g.$color-white;
        @include g.media('>phone') {
            margin: g.get_per(28, 800) 0 0;
            height: g.get_vw(366);
        }
        @include g.media('<=phone') {
            margin: g.get_per(59, 650) 0 0;
            height: g.get_vw(750);
        }
    }
    &__image-text {
        line-height: 1.33;
        font-weight: bold;
        text-align: center;
        @include g.font-size(2.5rem, 3.2rem);
    }
    &__side {
        @include g.media('>phone') {
            position: absolute;
            margin: 0 0 0 g.get_per(43);
            padding: g.get_per(17) 0 0;
            width: g.get_per(221);
        }
        @include g.media('<=phone') {
            position: relative;
            margin: 0 0 0 g.get_per(36);
            padding: g.get_per(36) 0 0;
            width: g.get_per(418, 650);
        }
    }
    &__contents-name {
        color: g.$color-white;
        line-height: 1.33;
        font-weight: bold;
        @include g.font-size(1.8rem, 3.2rem);
    }
    
}
