// Colors
$color-black: #000000;
$color-white: #ffffff;
$color-warm-grey: #8a8a8a;
$color-greyish: #a5a5a5;
$color-greyish-brown: #4d4d4d;
$color-dark-brown: #2e0909;
$color-mahogany: #610000;
$color-deep-red: #ae0000;
$color-two: #ce1400;
$color-shocking-pink: #ff00a8;
$color-nice-blue: #1256c6;
