@use '../../../global/index' as g;

/***********************
 *
 * projects about intros
 *
 ***********************/
.p-about-intro {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #d8e8f8;
    overflow: hidden;
    border: solid 10px;
    border-image: linear-gradient(180deg, #51a2f7 50%, #e96747 50%);
    border-image-slice: 1;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200%;
        background-image: linear-gradient(90deg, transparent 50%, #d8e8f8 50%),
            linear-gradient(0deg, transparent 50%, #cee4fa 50%);
        background-position: top center;
        background-repeat: repeat;
        background-size: g.get_vw(30) g.get_vw(30);
        background-attachment: fixed;
        z-index: -1;
        // animation: test 3s g.ease(OutSine) infinite;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: auto;
        @include g.media('>phone') {
            margin: g.get_per(50) g.get_per(80) g.get_per(50) 0;
            padding: 0 1rem 0 0;
            width: 50%;
            max-width: 800px;
            // height: 100%;
        }
        @include g.media('<=phone') {
            margin: calc(100vw * 0.45 + 7rem) 2rem 5rem;
            padding: 0 3rem 5rem;
            width: 100%;
        }
        &::-webkit-scrollbar {
            width: 1rem;
            -webkit-appearance: none;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 1rem;
            background: #51a2f6;
            box-shadow: none;
        }
        &::-webkit-scrollbar-track {
            background: #d8e8f8;
            border: none;
            border-radius: 1rem;
        }
    }
    &__name {
        display: inline-block;
        color: #51a2f6;
        // font-family: 'BIZ UDPGothic', sans-serif;
        font-family: 'Red Hat Display', sans-serif;
        font-weight: bold;
        letter-spacing: 0.2rem;
        // filter: drop-shadow(0.2rem 0.2rem 0rem #f87a5b);
        // background: linear-gradient(20deg, rgb(81, 161, 246), rgb(248, 122, 91));
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        @include g.media('>phone') {
            @include g.fluid-type(font-size, 24px, 50px);
        }
        @include g.media('<=phone') {
            font-size: 5rem;
        }
    }
    &__note {
        display: inline-block;
        color: #51a2f6;
        line-height: 1.2;
        // font-family: 'BIZ UDPGothic', sans-serif;
        font-family: 'Red Hat Display', sans-serif;
        @include g.media('>phone') {
            @include g.fluid-type(font-size, 8.8px, 22px);
        }
        @include g.media('<=phone') {
            font-size: 1rem;
        }
    }
    &__desc {
        display: inline-block;
        color: #51a2f6;
        line-height: 1.8;
        letter-spacing: 0.1rem;
        // font-family: 'BIZ UDPGothic', sans-serif;
        font-family: 'Red Hat Display', sans-serif;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-color: rgb(235 88 52);
        text-decoration-style: dotted;
        //text-decoration-style: wavy;
        text-underline-offset: 0.5rem;
        // background: linear-gradient(20deg, rgb(81, 161, 246) 50%, rgb(248, 122, 91) 50%);
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        word-break: break-word;
        @include g.media('>phone') {
            margin: 1rem 0 0;
            @include g.fluid-type(font-size, 10.8px, 27px);
        }
        @include g.media('<=phone') {
            margin: 1rem 0 0;
            font-size: 2.8rem;
        }
    }
    &__block {
        position: relative;
        &:not(:first-child) {
            @include g.media('>phone') {
                margin: g.get-per(30) 0 0;
            }
            @include g.media('<=phone') {
                margin: g.get-per(30) 0 0;
            }
        }
    }
    &__skills {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        @include g.media('>phone') {
            margin: 2rem 0 0;
        }
        @include g.media('<=phone') {
            justify-content: space-between;
            margin: 2rem 0 0;
        }
    }
    &__skill {
        $skill: &;
        display: inline-block;
        background-color: #eef1f4;
        width: 100%;
        letter-spacing: 0.1rem;
        // font-family: 'BIZ UDPGothic', sans-serif;
        font-family: 'Red Hat Display', sans-serif;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        backface-visibility: hidden;
        transition: transform 0.3s g.ease(OutSine);
        @include g.media('>phone') {
            padding: 2rem 1rem;
        }
        @include g.media('<=phone') {
            padding: 2rem;
        }
        &--front {
            position: relative;
            border: solid 0.3rem #51a2f6;
            color: #51a2f6;
            z-index: 2;
            filter: drop-shadow(0.3rem 0.3rem 0px rgb(235 89 52/ 90%));
        }
        &--back {
            position: absolute;
            top: 0.3rem;
            left: 0;
            width: 100%;
            height: 100%;
            border: solid 0.3rem #e96747;
            color: #e96747;
            transform: rotateY(180deg);
            z-index: 1;
            filter: drop-shadow(0.3rem -0.3rem 0px rgb(81 162 246/ 90%));
        }
        &-card {
            position: relative;
            @include g.media('>phone') {
                width: 22%;
                line-height: 1.5;
                @include g.fluid-type(font-size, 9.6px, 24px);
                &:not(:nth-of-type(4n)) {
                    margin: 0 3% 0 0;
                }
                &:nth-of-type(n + 5) {
                    margin: 3% 0 0;
                }
                &:nth-of-type(n + 5):not(:nth-of-type(4n)) {
                    margin: 3% 3% 0 0;
                }
            }
            @include g.media('<=phone') {
                width: 31%;
                line-height: 1;
                font-size: 2.4rem;
                &:nth-of-type(n + 4) {
                    margin: 3.5% 0 0;
                }
            }
            @include g.hover-only {
                #{$skill}--front {
                    transform: rotateY(180deg);
                }
                #{$skill}--back {
                    transform: rotateY(360deg);
                }
            }
        }
    }
}
